[Desktop Entry]
Version=1.0
Type=Application
Name=View Launcher
GenericName=Application & File Launcher
Comment=Minimalist, high-performance GUI desktop app & file launcher in Rust (<5ms)
Exec=view-launcher
Icon=view-launcher
Terminal=false
Categories=Utility;
Keywords=launcher;search;fuzzy;app;file;calculator;gui;
StartupNotify=true
StartupWMClass=view-launcher
